{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Heritage Craft E-Commerce</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="overflow-x-hidden px-6 md:px-24 pb-12 pt-28 min-h-screen bg-[#eeeeee] flex flex-col"> <!-- Background -->
    <div class="p-2 mb-6 relative">
        <div class="relative grid grid-cols-1 z-20 md:grid-cols-3 gap-6">
            {% include "card_info.html" with title='NPM' value=npm %}
            {% include "card_info.html" with title='Name' value=name %}
            {% include "card_info.html" with title='Class' value=class %}
        </div>

        <!-- Jarak antara kotak info pengguna dan last login -->
        <div class="flex justify-center my-8">
            <div class="flex rounded-md items-center bg-[#ba8972] py-4 px-6 shadow-lg">
                <h1 class="text-white text-center font-semibold">Last Login: {{ last_login }}</h1>
            </div>
        </div>

        <!-- Tautan Tambah Produk -->
        <div class="flex justify-end mb-8 px-24">
            <a href="{% url 'main:create_product_entry' %}">
                <button class="bg-[#ba8972] hover:bg-green-700 text-white font-bold py-3 px-6 rounded-lg transition duration-300 ease-in-out">
                    Add New Product Entry
                </button>
            </a>
        </div>

        <!-- Pesan jika tidak ada produk -->
        {% if not product_entries %}
        <div class="flex flex-col items-center justify-center min-h-[24rem] p-8">
            <img src="{% static 'images/sedih-banget.png' %}" alt="No products" class="w-40 h-40 mb-6"/>
            <p class="text-center text-gray-600 mt-6">No products available yet in Heritage Craft.</p>
        </div>
        {% else %}
        <!-- Menampilkan produk menggunakan grid layout -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full mt-8">
            {% for product_entry in product_entries %}
                {% include 'card_product.html' with product=product_entry %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
